/* static/css/style.css */
.sidebar .nav-link {
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s;
}

.sidebar .nav-link:hover {
    background-color: silver;
    font-weight: bold;
    transform: translateX(5px);
}

.sidebar .nav-link.active {
    background-color: silver !important;
    font-weight: bold;
}

.content-scroll {
    height: calc(100vh - 80px); /* thay đổi 70vh thành 100vh trừ chiều cao header thực tế */
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 0;
    margin-top: 0;
}
